<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Band Tracker</title>
  </head>
  <body>
    <h1>@Model.GetName()</h1>
    <hr>
    <h3>Website: <a href="@Model.GetWebsite()">@Model.GetWebsite()</a></h3>
    <h3>Email: @Model.GetEmail()</h3>
    <br>
    <h1>Venues They Have Played: </h1>
    <ul class="list-group">
      @foreach (var venue in Model.GetVenues())
      {
        <li class="list-group-item"><a href="/venues/@venue.GetId()">@venue.GetName()</a></li>
      }
    </ul>
    <a href="/bands">View All Bands</a> |
    <a href="/bands/add">Add a Band to Track!</a> |
    <a href="/venues">View All Venues</a> |
    <a href="/venues/add">Add a Venue to Track!</a>
  </body>
</html>
