<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Band Tracker</title>
  </head>
  <body>
    <div class="container">
      <div class="col-md-10">
        <h1>@Model["venue"].GetName()</h1>
        <hr>
        <h6><a href='/venues/@Model["venue"].GetId()/update'>Edit</a></h6>
        <h3>Phone Number: @Model["venue"].GetPhone()</a></h3>
        <h3>Email: @Model["venue"].GetEmail()</h3>
        <br>
        @if(Model["venue"].GetBands().Count == 0)
        {
          <h2>This Venue has no associated Bands! Select One to Add: </h2>
          <form class="form-group" action='/venues/@Model["venue"].GetId()/add-band' method="post">
            <input type="hidden" name="venue-id" value='@Model["venue"].GetId()'>
            <select name="band-id">
              @foreach(var band in Model["bands"])
              {
                <option value=@band.GetId()>@band.GetName()</option>
              }
            </select>
            <button type="submit" name="add-band">Add Band to Venue</button>
          </form>
        }
        else
        {
          <h1>Bands that have played here: </h1>
          <ul class="list-group">
            @foreach (var band in Model["venues-bands"])
            {
              <li class="list-group-item"><a href="/bands/@band.GetId()">@band.GetName()</a></li>
            }
          </ul>
          <br>
          <form class="form-group" action='/venues/@Model["venue"].GetId()/add-band' method="post">
            <input type="hidden" name="venue-id" value='@Model["venue"].GetId()'>
            <select name="band-id">
              @foreach(var band in Model["bands"])
              {
                <option value=@band.GetId()>@band.GetName()</option>
              }
            </select>
            <button type="submit" name="add-band">Add Band to Venue</button>
          </form>
        }
    <a href="/bands">View All Bands</a> |
    <a href="/bands/add">Add a Band to Track!</a> |
    <a href="/venues">View All Venues</a> |
    <a href="/venues/add">Add a Venue to Track!</a>
  </body>
</html>
